body{
    background-color: rgb(250, 249, 249);
}
header{
    background-color: rgb(242, 95, 84);
}
.container1{
    height: 30rem;
    display: table;
    width: 25%;
    background-color: white;
}
.row{
    display: block;
    position: relative;
}
.form1{
    margin: 10%;
}
.btn{
    width: 100%;
    border-radius: 100px;
    background-color: #f25f54;
    color: white;
}
.btn:hover{
    background-color: rgb(210, 83, 74);
    color: white;
}
.img{
    width: 100px;
    margin-left: 35%;
}
.main{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    box-shadow: none;
}
p{
    font-size: 15px;
}
.footer{
    background-color: rgb(43, 43, 43);
    color: white;
    height: 50px;
}
a {
    text-decoration: none;
    color: rgb(241, 126, 126);
}
a:hover{
    text-decoration: none;
    color: white;
}
.nav-link{
    color: white!important;
}
.navbar{
    padding: 0;
}
.nav-link{
    padding: 15px!important;
}

.nav-link:hover{
    display: block;
    background-color: red;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-light .navbar-toggler{
    margin: 3px;
    border-color: white;
}