body{
    background-color: rgb(250, 249, 249);
}
header{
    background-color: rgb(242, 95, 84);
}
.container1{
    height: 30rem;
    display: table;
    width: 25%;
    background-color: white;
}
.row1{
    display: block;
}
.form1{
    margin: 10%;
}
.btn{
    width: 100%;
    border-radius: 100px;
    background-color: #f25f54;
    color: white;
}
.btn:hover{
    background-color: rgb(210, 83, 74);
    color: white;
}
.img{
    width: 150px;
    position: relative;
    margin: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

}
.main{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    box-shadow: none;
}
p{
    font-size: 15px;
}
.footer{
    background-color: rgb(43, 43, 43);
    color: white;
    height: 50px;
}

.nav-link{
    color: white!important;
}
.navbar{
    padding: 0;
}
.nav-link{
    padding: 15px!important;
}

.nav-link:hover{
    display: block;
    background-color: red;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-light .navbar-toggler{
    margin: 3px;
    border-color: white;
}
.card1{
    height: 55vh;
    margin: 20px;
    padding: 50px;
    box-shadow: 5px 5px 5px rgb(209, 208, 208);
    opacity: 0.5;
    transition: 0.3s ease;
}
.card1:hover{
    opacity: 1;

}
.img-aboutus{
    width: 150px;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 80px;
}
.socials{
    padding: 0;
    list-style-type: none;
}
.socials1{
    display: inline;
}
.social{
    color: #f25f54;
}
.social i{
    
}
.social:hover{
    color: #d1544b;
}
.contact{
    margin: 10px;
}
.row{
    margin-bottom: 20px;
}